{% extends "template.html" %}

{% block title %} Edit Article {% endblock %}

{% from "includes/_formhelper.html" import render_field %}
{% block body %}
<h2>Edit Article</h2>
<hr>
<form method="POST" action="">
    <div class="form-group">
        <dl>
            {{ render_field(form.title, class="form-control") }}
        </dl>
        <dl>
            {{ render_field(form.body, class="form-control", id = 'editor') }}
        </dl>
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>
{% endblock %}